@model FFSolution.Models.Measurement

@{
    ViewBag.Title = "Details Measurement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Measurement</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasurementName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasurementName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasurementDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasurementDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeaurementID }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-primary" })
</p>
