@model FFSolution.Models.Measurement

@{
    ViewBag.Title = "Edit Measurement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Measurement</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MeaurementID)

        @*<div class="form-group">
            @Html.LabelFor(model => model.Updated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Updated)
                @Html.ValidationMessageFor(model => model.Updated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Updator, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Updator)
                @Html.ValidationMessageFor(model => model.Updator)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.MeasurementName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeasurementName)
                @Html.ValidationMessageFor(model => model.MeasurementName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeasurementDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeasurementDescription)
                @Html.ValidationMessageFor(model => model.MeasurementDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
