@model IEnumerable<FFSolution.Models.Measurement>

@{
    ViewBag.Title = "Measurement List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table id="MyTable" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasurementName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasurementDescription)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasurementName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasurementDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MeaurementID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MeaurementID })
                </td>
            </tr>
        }
    </tbody>
</table>
