@model FFSolution.Models.Courier

@{
    ViewBag.Title = "Create Courier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Courier</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CourierName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourierName)
                @Html.ValidationMessageFor(model => model.CourierName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourierDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourierDescription)
                @Html.ValidationMessageFor(model => model.CourierDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourierAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourierAddress)
                @Html.ValidationMessageFor(model => model.CourierAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourierTelephone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourierTelephone)
                @Html.ValidationMessageFor(model => model.CourierTelephone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNumberUSD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountNumberUSD)
                @Html.ValidationMessageFor(model => model.AccountNumberUSD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNumberEUR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountNumberEUR)
                @Html.ValidationMessageFor(model => model.AccountNumberEUR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNumberEGP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountNumberEGP)
                @Html.ValidationMessageFor(model => model.AccountNumberEGP)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
