@model FFSolution.Models.Currency

@{
    ViewBag.Title = "Currency Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Currency</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyName)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyCode)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CurrencyID }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-primary" })
</p>
