@model FFSolution.Models.Config

@{
    ViewBag.Title = "Config Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>System Configuration</h4>
	<hr />
    <dl class="dl-horizontal">
         <dt>
            @Html.DisplayNameFor(model => model.SystemPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Currency.CurrencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency.CurrencyCode)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConfigID }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-primary" })
</p>
