@model FFSolution.Models.Config

@{
    ViewBag.Title = "Edit Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>System Configuration</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ConfigID)

        <div class="form-group">
            @Html.LabelFor(model => model.SystemPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SystemPassword)
                @Html.ValidationMessageFor(model => model.SystemPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DefaultCurrency, "Deafult Currency Code", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CurrencyID", String.Empty)
                @Html.ValidationMessageFor(model => model.DefaultCurrency)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
